{% extends 'expensetracker/base.html' %}

{% block title %}Homepage{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h1>Add an Expense</h1>

    <div class="container">
        <form class="span6" id="category_form" method="post" action="{% url 'expensetracker:add_expense' %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/>
            {% endfor %}

           <input class="btn btn-primary" type="submit" name="submit" value="Create Expense"/>
        </form>
    </div>
</div>

{% endblock %}