<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'expensetracker/css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'expensetracker/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'expensetracker/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <title>FinPlan - {% block title %}{{"Financial Planning at its best!"}}{% endblock %}</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="brand" href="/expensetracker/">Expense Tracker</a>

                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">
                           {% if user.is_authenticated %}
                            <li class="navbar-text">Welcome, {{ user.username }}!</li>
                            <li><a href="{% url 'expensetracker:logout' %}">Logout</a></li>
                           {% else %}
                            <li><a href="{% url 'expensetracker:register' %}">Register Here</a></li>
                            <li><a href="{% url 'expensetracker:login' %}">Login</a></li>
                           {% endif %}
                       </ul>
                       <ul class="nav">
                           {% if user.is_authenticated %}
                            <li><a href="/admin/">Administration</a></br></li>
                            <li><a href="/expensetracker/api/">API</a></br></li>
                            <li><a href="{% url 'expensetracker:expenses' %}">Expenses</a></li>
                            <li><a href="{% url 'expensetracker:add_expense' %}">Add Expense</a></li>
                           {% endif %}
                       </ul>
                   </div>
                    <!--/.nav-collapse -->
               </div>
           </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <!--- Empty for the timebeing -->
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
                <div class="span9">
                    {% block body_block %}
                    {% endblock %}
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->

        <hr>

        <footer>
            <div class="container">
                <p>&copy; FinPlan: Financial Planning Platform 2016</p>
            </div>
        </footer>

        <script src="{% static 'expensetracker/js/jquery-3.0.0.min.js' %}"></script>
        <script src="{% static 'expensetracker/js/bootstrap.min.js' %}"></script>
    </body>
</html>