{% extends 'expensetracker/base.html' %}

{% load staticfiles %}

{% block title %}Expenses{% endblock %}

{% block body_block %}

<div class="hero-unit">
{% if all_expenses %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
    {% for expense in all_expenses %}
        <tr>
            <td>{{expense.transaction_date}}</td>
            <td>{{expense.summary}}</td>
            <td>{{expense.amount}}</td>
            <td>
                {% for c in expense.category.all %}
                {{ c.name }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No expenses are available.</p>
{% endif %}
</div>
{% endblock %}