{% extends 'expensetracker/base.html' %}

{% block title %}Homepage{% endblock %}

{% block body_block %}
<div class="hero-unit">
    {% if user.is_authenticated %}
        <h1>Hello {{user.username}}</h1>
    {% else %}
        <h1>Hello! Please login..</h1>
    {% endif %}
</div>
{% endblock %}

