{% extends 'expensetracker/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h1>Login to Expense Tracker</h1>

    <div class="container">
        <form class="form-signin span4" id="login_form" method="post" action="{% url 'expensetracker:login' %}">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}

            {% if bad_details %}
                <p><strong>Your username and/or password were incorrect!</strong></p>
            {% elif disabled_account %}
                <p><strong>Your account is currently disabled; we can't log you in!</strong></p>
            {% endif %}

            Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
            <br />
            Password: <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50" />
            <br />

            <input class="btn btn-primary" type="submit" value="submit" />
        </form>
    </div>
</div>
{% endblock %}