{% extends 'expensetracker/base.html' %}

{% block title %}Registration{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Register with Expense Tracker</h1>
    <br />

    <div class="container">
        {% if registered %}
            <p>Thank you for registering!</p>

            <p><a href="{% url 'expensetracker:index' %}">Return to the homepage.</a></p>
        {% else %}
            <form id="user_form" class="form-signin span8" method="post" action="{% url 'expensetracker:register' %}"
                    enctype="multipart/form-data">

                {% csrf_token %}
                <h2 class="form-signin-heading">Sign up Here</h2>
                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                {% for field in user_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}

                {% for field in profile_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}

                <br />
                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}